.primary {
	position: absolute;
	transition: -webkit-transform 1s;
}

.secondary {
	transition: -webkit-transform 1s;
	-webkit-transform: rotateY(-180deg);
}

.portfolio-item:hover .secondary {
	-webkit-transform: rotateY(0);
}

.portfolio-item:hover .primary {
	-webkit-transform: rotateY(180deg);
}

